# Build folders
build/
cmake-build-*/

# Compiled files
*.exe
*.dll
*.obj
*.o
*.a
*.lib

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executable output
bin/